body {
  font-family: "Nerial Grotesk", Arial, sans-serif !important;
}

h1, h2, h3, h4, h5, h6,p,.accord,span,.panel,.title,.content {
  font-family: "DM Sans", Arial, sans-serif !important;

}
.cursor {
  opacity: 0.5;
  transition: opacity .3s;
  z-index: 10001;
  background-color: #e2ff6f;
  height: 3.5vw;
  width: 3.5vw;
  border:  1px solid #d3ff23;

  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}
