html,
body {
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #000000;
}
.test{
    background-color: #000000;
  padding-top: 76px;
  padding-bottom: 80px;
  font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 46px;
/* identical to box height, or 128% */

text-align: center;

color: #FFFFFF;


}


.slider {
  height: 250px;

  margin-bottom: 5%;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
}

.slide-track {
  display: flex;
  width: calc(500px * 18);
  animation: scroll 40s linear infinite;
}

.slide-track:hover {
  animation-play-state: paused;
}


.slidep{
  width: 533.4px;
height: 242px;
background: linear-gradient(209.18deg, rgba(152, 186, 19, 0.58) -24.22%, rgba(44, 44, 52, 0) 82.08%);
filter: drop-shadow(10px 11px 24px rgba(144, 162, 73, 0.13));
}

.slide {
  background: linear-gradient(209.18deg, rgba(152, 186, 19, 0.58) -24.22%, rgba(44, 44, 52, 0) 82.08%);
  background-color: #000000;
  font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* or 167% */


color: #FFFFFF;

  height: 350px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

.slide:hover {
  cursor: pointer;
}

.slide img {
  width: 100%;
}

.slide img:hover {
  transform: translateZ(20px);
}

.slider::before,
.slider::after {
  /* background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  ); */
  content: '';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
