.step {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;
  opacity: 0;
  transition: opacity 0.5s;
}

.step.active {
  height:4.6vw;
  opacity: 1;
}
.container1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}
.one {
  margin-left: 1.3vw;
}
.con {
  display: flex;
  flex-direction: column;
}
.contd {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 2px;
}
.subdy {
  font-family: "Neurial Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 2vw;
  line-height: 38px;
  /* identical to box height, or 136% */
  margin: 0px;
  color: #ffffff;
}
.dot {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 12px;
  margin-left: 3.2vw;
  width:auto;
}
@media only screen and (max-width: 750px) {
  .step.active {
    height:10vw;
    opacity: 1;
  }
  .dot {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
    margin-left: 4.5vw;
    width:auto;
  }
  .subdy{
      font-size: 4vw;
  }
  .container1{
    padding-bottom: 40px;
  }
}
