.faqm {
  width: 100%;
  height:100vh;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.heading {
  margin-top: 150px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 0;
  justify-content: center;

  color: #000000;
}
.para {
  margin-top: 20px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 0;

  text-align: center;

  color: #4f4f4f;
}
.pdiv {
  max-width: 596px;
  height: 60px;
  margin-top: 16px;
  position: relative;
  
  left: 50%;
  margin-bottom: 48px;
  transform: translate(-50%, -50%);
}
.accord {
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: left;
  border-top: 1px solid #adadad;
  border-bottom: 1px solid #adadad;
  max-width: 1013.51px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
.accordion {
  margin-top: 26px;
  margin-bottom: 26px;
}

.title {
  max-width: 74%;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  /* identical to box height, or 136% */

  color: #000000;
}
.panel {
  max-width: 753.4px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  color: #4f4f4f;
}
.icon {
  display: right;
}
