.faqm {
  width: 100%;

  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 60px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.heading {
  margin-top: 150px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 0;
  justify-content: center;

  color: #000000;
}
.para {
  margin-top: 20px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 0;

  text-align: center;

  color: #4f4f4f;
}
.pdiv {
  max-width: 596px;
  height: 2.5vw;
  margin-top: 1.5vw;
  position: relative;

  left: 50%;
  margin-bottom: 2.5vw;
  transform: translate(-50%, -50%);
}
.accord {
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: left;
  border-top: 1px solid #adadad;
  border-bottom: 1px solid #adadad;
  max-width: 1013.51px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
.accordion {
  cursor: pointer;
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
}

.title {
  max-width: 74%;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  /* identical to box height, or 136% */

  color: #000000;
}
.panel {
  max-width: 753.4px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  color: #4f4f4f;
}
.icon {
  display: right;
}
@media only screen and (max-width: 767px) {
  .heading{
    margin-top: 40px;
    font-size: 3vw;
  }
  .panel{
    font-size: 1.5vw;
    line-height: 2vw;
  }
  .title{
    font-size: 3vw;
    line-height: 2vw;
  }
  .accord{
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 500px) {
  .accordion{
    margin-top: 4vw;
    margin-bottom: 4vw;
  }
  .heading {
    font-size: 5vw;
  }
  .panel {
    font-size: 2.8vw;
    line-height: 3vw;
    margin-bottom: 4vw;
    margin-top: 4vw;
  }
  .title {
    margin-top: 4vw;
    margin-bottom: 4vw;
    font-size: 4vw;
    line-height: 2vw;
  }
}
