.hero-img {
  width: 100%;
  display: block;
}
.mainc{
  font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: clamp(1px,63px,100px);
line-height: 70px;
/* or 118% */
margin-left: auto;
margin-right: auto;

color: #000000;
width: 41vw;
height: 21vh;
}
.mainc span{
  font-size: clamp(1px,57px,100px);
}
