@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
.App{
  background: #1F1F24;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  margin-left: auto;
margin-right: auto;
justify-content: center;
}
.container{
  max-width: 1310px;

  width: 100%;
  margin-right:auto;
  margin-left: auto;
  padding-top:113px;
  padding-left: auto;
  padding-right: auto;
  display: flex;
  flex-direction: row;}

.stepper{
  padding-left: 0px;
  margin:0px;
}
.cont{
  padding-left: 60px;
  max-width: 671px;
  width:100%;

}
.imagec{
  width:100%;
  position: relative;
}
.imagec >img{
  display:block;
  margin: auto;
}
.imageback{
  position: absolute;
  width: inherit;
height: 686.51px;
border-radius: 100%;

background: rgba(210, 255, 32, 0.19);
filter: blur(64.5px);
top:83px;
}
img{
  width: 70%;
  height: auto;
  position: relative;
  z-index: 10;
  padding-bottom: 100px;

}
.head{
  font-family: 'Neurial Grotesk';
font-style: normal;
font-weight: 500;
font-size: 56px;
line-height: 70px;
margin-top: 0;
margin-bottom: 0;
color: #FFFFFF;
}

.headp{
  font-family: 'Neurial Grotesk';
  max-width:  516.94px;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
margin-top: 0;
margin-bottom: 40px;


color: #B8B8B8;
}

.css-14yr603-MuiStepContent-root {
  border-left-style: none !important;
}
