
.App{
  background: #1F1F24;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  margin-left: auto;
margin-right: auto;
justify-content: center;
}
.container{
  width: 90vw;
  margin-right:auto;
  margin-left: auto;
  padding-top:113px;
  padding-left: auto;
  padding-right: auto;
  display: flex;
  flex-direction: row;}

.stepper{
  height:33vw;
  padding-left: 0px;
  margin:0px;
}
.cont{
  padding-bottom: 60px;
  padding-left: 60px;
  width: 45vw;


}
.imagec{
  width:40vw;
 height:55vw;
  position: relative;
}
.imagec >img{

  display:block;
  margin: auto;
}
.imageback{
  position: absolute;
  width: inherit;
height: 45vw;
border-radius: 100%;

background: rgba(210, 255, 32, 0.19);
filter: blur(4vw);
top:83px;
}
.imagec >img{
  width: 70%;
  height: 55vw;
  position: relative;
  z-index: 10;


}
.head{
  font-family: 'Neurial Grotesk';
font-style: normal;
font-weight: 500;
font-size: 3vw;
line-height: 8vw;
margin-top: 0;
margin-bottom: 0;
color: #FFFFFF;
}

.headp{
  font-family: 'Neurial Grotesk';

font-style: normal;
font-weight: 500;
font-size: 1.4vw;
line-height: 22px;
margin-top: 0;
margin-bottom: 40px;


color: #B8B8B8;
}
@media only screen and (max-width: 750px) {
  .container {
    padding: 50px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cont{
    width: 90vw;
     padding-left: 16vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .head{
    font-family: 'Neurial Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 6vw;
  line-height: 4vh;
  margin-top: 0;
  margin-bottom: 10px;
  color: #FFFFFF;
  }

  .headp{
    font-family: 'Neurial Grotesk';

  font-style: normal;
  font-weight: 500;
  font-size: 3vw;
  line-height: 12px;
  margin-top: 0;
  margin-bottom: 10px;


  color: #B8B8B8;
  }
  .stepper{
    height: 75vw;
  }
  .imagec{
    width: 70vw;
    height: 100vw;
    position: relative;
  }
  .imagec >img{
  width: 100%;
 height:95vw;
  }
  .imageback{
    position: absolute;
    width: inherit;
  height: 75vw;
  border-radius: 100%;

  background: rgba(210, 255, 32, 0.19);
  filter: blur(4vw);
  top:60px;
  }
}
.css-14yr603-MuiStepContent-root {
  border-left-style: none !important;
}
