* {

  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0.5em;
  background-color: #F5F5F5;
}



::-webkit-scrollbar-thumb {
  background-color: #000000;
}
.parent {
  overflow: hidden;
}
.box1 {
 overflow: hidden;
  height:100vh;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  background: #ffffff;
  border-bottom: 1px solid #adadad;
  box-shadow: 0px -15px 13px rgba(141, 141, 141, 0.25);
}
.contain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50vw;
}
.frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  margin-left: 70px;
 margin-top:0;
}
.frame1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 70vw;
  margin-left: 70px;
 margin-top:0;
}
.NFR {

  font-family: "Neurial Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 4vw;
  line-height: 150%;
  /* identical to box height, or 75px */
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sub {
  display: inline-block;
  margin-left: 13px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  max-width: 561.76px;
  color: #000000;
}
.conten {
  max-width: 420px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 28px;
  /* or 140% */

  letter-spacing: 0.01em;

  color: #000000;
}
.in {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.boxi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:0;
  width: 50vw;

 margin-left: auto;
  margin-top: 42.81px;
}
.boxi1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:0;
  width: 50vw;

margin-left: auto;
  margin-top: 72.81px;
}
@media only screen and (max-width: 660px) {
 .box1{
   align-items: center;
   flex-direction: column;
   margin-left: 0;
 }
 .boxi{
   justify-content: normal;
  height:45vh;
  width:100vw;
   margin-left: 0;
 }
 .boxi1{
   justify-content: normal;
   width:100vw;
    height:45vh;
   margin-left: 0;
 }
 .in{


 }
 .contain{
   width:100vw;
     height:50vh;

   margin-bottom: 5vw;
 }
 .im1>img{
   width:10vw;
 }
}
