.wcd {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 425px;
  flex-direction: row;
  background: #000000;
  border-bottom: 1px solid #adadad;
}
.contentw {
  display: flex;
  flex-direction: column;
}
.whead {
  font-family: "Neurial Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 3.2vw;
  line-height: 70px;
  /* identical to box height, or 126% */
  margin-left: 87.17px;
  margin-top: 61px;
  margin-bottom: 0px;
  color: #ffffff;
}
.wp {
  margin-left: 93.34px;
  top: 159.09px;

  /* Body/Default */
  width: 36vw;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */

  color: #ffffff;
}
.static {
  margin-top: 30px;
  margin-left: clamp(1vw,5vw,10vw);
  display: flex;
  flex-direction: row;
}
.col1 {

  margin-right: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.col2 {
  margin-right: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.security{
  font-family: 'Neurial Grotesk';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 38px;


color: #FFFFFF;


}
